.App {
  display: grid;
}

nav {
  height: 50px;
  width: 100vw;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #FFDAC7;
  color: #297F87;

  font-family: "Helvetica Neue", sans-serif;
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  font-stretch: extra-expanded;

  z-index: 100;
}

#menu-icon{
  width: 10px;
}

.main-container {
  margin: 50px 5px 0 5px;
  padding: 20px 5px;

  display: grid;
  grid-gap: 20px;
  justify-items: center;

  background-color: #F4EEED;

  border-radius: 10px;
}

.hall {
  display: grid;

  justify-content: center;
  text-align: center;

  color: rgba(0, 0, 0, 0.6);
}

.description-1 {
  width: 60vw;
  height: 160px;

  display: block;

  border-radius: 10px;
  background-color: #FFDAC7;
}

button {
  width: 30vw;
  height: 40px;

  font-size: x-large;
  font-weight: bold;

  border-radius: 10px;
  border: 0;

  background-color: #FFDAC7;
  color: #297F87;

  box-shadow: rgba(0, 0, 0, 0.2) -1px 1px;
}

button:hover {
  cursor: pointer;

  background-color: #297F87;
  color: #FFDAC7;
}

.partners {
  width: 60vw;

  margin: 80px 0 20px 0;

  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.partners .first-row, .second-row{
  display: inline-flex;

  justify-content: center;

}

.partner {
  width: 25%;
  height: 15vh;

  margin: 0 10px;

  background-color: burlywood;

  border-radius: 10px;
}

footer {
  height: 10vh;
}

@media only screen and (max-width: 600px){
  .description-1, .partners {
    width: 320px;
  }

  button {
    width: 200px;
  }

  .partner {
    width: 80px;
    height: 60px;
  }
}