.seats{
    height: 60vh;
    width: 60vw;
    padding: 10px;

    display: flex;

    justify-content: center;

    overflow: hidden;
    background-color: #FFDAC7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) -1px 1px;
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    border-spacing: 3px;

    width: max-content;
    height: max-content;

    z-index: 20;
    color: black;
}

td{
    border: 1px solid black;
    width: 10px;
    height: 10px;
    background-color: white;

    margin: 3px;
}

td:hover {
    cursor: pointer;
    background-color: #fe6d73;
}

@media only screen and (max-width: 600px){
     .seats {
         width: 300px;
         height: 50vh;
     }
}
